@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #deeafe;
  display: flex;
  justify-content: center;
}
.container {
  padding: 22px;
  height: 178px;
  width: 161px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a78ef;
  margin-top: 217px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.counter {
  font-size: 10vmin;
  font-family: "Roboto", sans-serif;
}

.decre,
.incre {
  border-radius: 50px;
  border: 25px solid white;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  cursor: pointer;
  margin-inline: 52px;
}

@media (max-width: 600px) {
  .container {
    height: 27vmin;
    width: 27vmin;
    border-radius: 26px;
  }
  .counter {
    font-size: 10vmin;
  }
  .decre,
  .incre {
    border-radius: 50px;
    border: 3vw solid white;
    margin-inline: 11vw;
  }
}
